.grid {
  display: grid;
  height: calc(100vh - 4.5rem);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2.5rem repeat(5, 1fr);
}

.week-day {
  padding: 0.5rem;
  border-radius: 0;
  border-top: none;
  border-right: none;
  font-weight: bold;
}

.week-day > div {
  padding: 0;
  text-align: center;
}
